img {
  max-width: 100%;
}

body {
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  padding-bottom: 2rem;
  background-color: #f9f9f2;
  -webkit-text-size-adjust: none;
}

h1 {
  font-weight: normal;
  height: 40vw;
  min-height: 300px;
  background: url(bg.png) center 45%;
  background-size: cover;
  margin: 0 0 2rem 0;
  font-size: 4vw;
  color: rgba(47, 47, 73, .0);
}

a {
  color: #0dbad9;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  width: 6rem;
  float: left;
  margin: 0;
}

dl {
  float: left;
  width: calc(100% - 6rem - 1rem);
  margin: 0 0 2rem 0;
  padding: 0;
}

dt {
  float: left;
  width: 5rem;
}

dd {
  float: left;
  margin: 0;
  padding: 0;
  width: calc(100% - 5rem);
}

dl dd:not(:first-of-type),
dl dt:not(:first-of-type) {
  margin-top: .5rem;
}

#content:after,
dl:after {
  content: "";
  display: block;
  clear: both;
}

h2 {
  display: none;
}

#content {
  margin: 2rem 0;
  max-width: 800px;
}

body > :not(h1),
#content {
  margin-left: .3rem;
}

@media (max-width: 650px) {
  h3 {
    width: auto;
    float: none;
    margin: 0 0 1rem 0;
    clear: both;
  }

  dl {
    width: 100%;
  }
}


